[user]
	name = neonb88
	email = nathanbendich@gmail.com
[alias]
    ad  = add
    #############
    b   = branch
    #############
    c   = commit
    cm  = commit -vm
    ca  = commit -vam
    #############
    cl  = clone
    #############
    d   = diff
    #############
    f   = fetch
    #############
    l   = log
    lo  = log --oneline --graph --decorate
    #############
    mt  = mergetool
    ############# ^   mergetool is good for resolving merge conflicts; it pulls up a beyondCompare UI
    o   = checkout
    #############
    pl  = pull
    ps  = push
    #############
    res = reset --hard origin/master
        # moves to the main head (throws away local commits)
    #############
    s   = stash
    st  = status
    #############
    u   = config --get remote.origin.url
    ur  = config --get remote.origin.url
    url = config --get remote.origin.url

#[diff]
	#external = git-meld-diff
[core]
  editor=vim
