*.pyc
*.png
*.jpg
*.jpeg
*/
*.txt
*.mp4
*.mp3
*.pdf
.bash_history
.bash_logout
.*.swp
.bastetrc
.ICEauthority
.Xauthority
.lesshst
.python_history
.xsession-errors
.xsession-errors.old
file_suffixes_arent_read_by_the_command_line.py
.dmrc
examples.desktop
*~
.gnuplot_history
.sbclrc
.slime-history.eld
.sudo_as_admin_successful
quicklisp.lisp
quicklisp.lisp.asc

