# command to install the new fersion when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

#===============================================================================
# Documentation:
  # https://askubuntu.com/questions/2368/how-do-i-set-up-a-cron-job
  # https://askubuntu.com/questions/1031552/re-create-default-crontab
  # https://gist.githubusercontent.com/ellvtr/c9f804e277d8bd3683766115c68a7877/raw/e6bcdbea7e89b95b75252fe593046fb7cd82ec53/crontab
#===============================================================================

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

#===============================================================================
#   minute hour day-of-month month-of-year day-of-week user-to-run-as command
#===============================================================================
# m h dom mon dow user  command
17 *    * * *   root    cd / && run-parts --report /etc/cron.hourly
25 6    * * *   root    test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily   )
47 6    * * 7   root    test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly  )
52 6    1 * *   root    test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )

#===============================================================================
#       NXB's additions :   ( NXB stands for "Nathan X. Bendich" )
#===============================================================================
# Update links to SMPL-X    every 30 minutes:   
*/30 * * * * root /home/n/Downloads/touch_SMPL-X.sh
*/30 * * * * root /home/n/touch_symlinks.sh
#41  19 * * * root /home/n/Downloads/touch_SMPL-X.sh   # "touch_SMPLX.sh"   WORKED!
#===============================================================================











#===============================================================================
# Start Work :
#===============================================================================
# The problem is I can't plan for when I need the internet; it's unknown.  -NNTaleb
*/1  9 * * * root iptables -P INPUT ACCEPT
*/1 10 * * * root iptables -P INPUT ACCEPT
*/1 11 * * * root iptables -P INPUT ACCEPT
*/1 12 * * * root iptables -P INPUT ACCEPT
# Give yourself a tiny bit of time to Google things that have built up throughout the day.
*/1 13 * * * root iptables -P INPUT ACCEPT
*/1 14 * * * root iptables -P INPUT ACCEPT
*/1 15 * * * root iptables -P INPUT ACCEPT
# Tutoring (discourage internet use; pay attention to the kids)
*/1 16 * * * root iptables -P INPUT ACCEPT
*/1 17 * * * root iptables -P INPUT ACCEPT
*/1 18 * * * root iptables -P INPUT ACCEPT
*/1 19 * * * root iptables -P INPUT ACCEPT
*/1 20 * * * root iptables -P INPUT ACCEPT
*/1 21 * * * root iptables -P INPUT ACCEPT
*/1 22 * * * root iptables -P INPUT ACCEPT
*/1 23 * * * root iptables -P INPUT ACCEPT
#52  23 * * * n /home/n/pyutils/internets_going_off.sh
#55  23 * * * n /home/n/pyutils/stop_working_and_sleep.sh
#58  23 * * * n /home/n/pyutils/stop_working_and_sleep.sh
*/1  0 * * * root iptables -P INPUT ACCEPT

*/1  1 * * * root iptables -P INPUT ACCEPT
*/1  2 * * * root iptables -P INPUT ACCEPT
#52   2 * * * n /home/n/pyutils/internets_going_off.sh
*/1  3 * * * root iptables -P INPUT ACCEPT
#*/2  3 * * * n /home/n/pyutils/stop_working_and_sleep.sh
#52   3 * * * n /home/n/pyutils/internets_going_off.sh
#16   4 * * * n /home/n/pyutils/internets_going_off.sh
*/1  4 * * * root iptables -P INPUT ACCEPT
#*/2  4 * * * n /home/n/pyutils/stop_working_and_sleep.sh
*/1  5 * * * root iptables -P INPUT ACCEPT
#*/2  5 * * * n /home/n/pyutils/stop_working_and_sleep.sh
*/1  6 * * * root iptables -P INPUT ACCEPT
*/1  7 * * * root iptables -P INPUT ACCEPT
*/1  8 * * * root iptables -P INPUT ACCEPT







# shutdowns:
#  8:00 P.M.:
*/10 20 * * * root shutdown 
# 9:00 P.M.:
*/10 21 * * * root shutdown 
# 10:00 P.M.:
#*/10 22 * * * root shutdown
#*/10 23 * * * root shutdown
#*/10  0 * * * root shutdown
#30  0 * * * root shutdown
#*/10  1 * * * root shutdown
#*/10  2 * * * root shutdown
#10 2 * * * root shutdown
*/10  3 * * * root shutdown
*/10  4 * * * root shutdown
#10 5 * * * root shutdown
*/10  5 * * * root shutdown
*/10  6 * * * root shutdown
*/10  7 * * * root shutdown

##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################

##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
                          
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
                          
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
                          
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
                          
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
                          
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################

##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
                          
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
                          
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################


































#34   2 * * * n /home/n/pyutils/internets_going_off.sh




























#============================================================================================================================================
# The above "every minute" command DOES work.  The problem earlier had something to do with the ugliness of iptables
#============================================================================================================================================
#   To recreate the bug, call "listinternet" and see whether it looks something like the following:
#============================================================================================================================================
#Chain INPUT (policy DROP)
#target     prot opt source               destination         

#Chain FORWARD (policy ACCEPT)
#target     prot opt source               destination         

#Chain OUTPUT (policy ACCEPT)
#target     prot opt source               destination         

#Chain DOCKER (0 references)
#target     prot opt source               destination         

#Chain DOCKER-ISOLATION-STAGE-1 (0 references)
#target     prot opt source               destination         

#Chain DOCKER-ISOLATION-STAGE-2 (0 references)
#target     prot opt source               destination         

#Chain DOCKER-USER (0 references)
#target     prot opt source               destination         

# If there are "chained" policies underneath each header, that's probably what's causing the problem(s).  Otherwise, you ought to be able to just keep changing the top "INPUT (policy DROP)" to "INPUT (policy ACCEPT)" and vice versa.

##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
                          
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
                          
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
                          
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
                          
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################

##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################

##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################
##########################







































